@import url(reset.css);

:root {
  --general-font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  --book-bg-color: lightblue;
}

html {
  font-family: var(--general-font-family);
}

#book-template {
  display: none;
}

.library-container {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: calc(200px + 2rem);
  gap: 3rem;
}

.library-container > .book {
  background-color: var(--book-bg-color);
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 10px;
}

.library-container > .book > .book-title {
  grid-column: 1 / 3;
}

.library-container > .book > .book-author {
  grid-column: 1 / 3;
}

.library-container > .book > .book-pages {
  grid-column: 1 / 3;
}

.book > .read-status,
.book > .remove-btn {
  border-radius: 8px;
}

.library-container > .book > .read-status {
  color: white;
  background-color: green;
  border-radius: 8px;
}